/*---------------- general settings for main page content ---------------- */
#main_page_content {
	position: relative;
	top: 108px; 
	width: 100%;
	font-family: 'butler-light', Fallback, sans-serif;
	font-size: 1.5rem;
	box-sizing: border-box;
	padding-top: 50px;
}

#main_page_content.move_down_60px {
	top: 168px;
}

.main_container,
.main_container section {
	margin: 0 auto;
}

