.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66666666%;
}

.col-10 {
    width: 83.33333333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66666666%;
}

.col-7 {
    width: 58.33333333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66666666%;
}

.col-4 {
    width: 33.33333333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66666666%;
}

.col-1 {
    width: 8.33333333%;
}



/*----------------  col-lg-*  ---------------- */

@media screen and (min-width: 1200px) {
    .header_container,
    .main_container {
        width: 1200px;
    }

    .col-lg-12 {
        width: 100%;
    }

    .col-lg-11 {
        width: 91.66666666%;
    }

    .col-lg-10 {
        width: 83.33333333%;
    }

    .col-lg-9 {
        width: 75%;
    }

    .col-lg-8 {
        width: 66.66666666%;
    }

    .col-lg-7 {
        width: 58.33333333%;
    }

    .col-lg-6 {
        width: 50%;
    }

    .col-lg-5 {
        width: 41.66666666%;
    }

    .col-lg-4 {
        width: 33.33333333%;
    }

    .col-lg-3 {
        width: 25%;
    }

    .col-lg-2 {
        width: 16.66666666%;
    }

    .col-lg-1 {
        width: 8.33333333%;
    }
}




/*----------------  col-md-* (medium)  ---------------- */

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .header_container {
        width: 992px;
    }

    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666666%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666666%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666666%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666666%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
}








/*----------------  col-sm-* (small) ---------------- */

@media screen and (min-width: 768px) and (max-width: 991px) {
    header,
    footer,
    .page_container {
        width: 768px;
    }

    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666666%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666666%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666666%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666666%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
}








/*----------------  col-xs-* (extremly small)  ---------------- */

@media screen and (min-width: 640px) and (max-width: 767px) {
    header,
    footer,
    .page_container {
        width: 640px;
    }

    .col-xs-12 {
        width: 100%;
    }
    .col-xs-11 {
        width: 91.66666666%;
    }
    .col-xs-10 {
        width: 83.33333333%;
    }
    .col-xs-9 {
        width: 75%;
    }
    .col-xs-8 {
        width: 66.66666666%;
    }
    .col-xs-7 {
        width: 58.33333333%;
    }
    .col-xs-6 {
        width: 50%;
    }
    .col-xs-5 {
        width: 41.66666666%;
    }
    .col-xs-4 {
        width: 33.33333333%;
    }
    .col-xs-3 {
        width: 25%;
    }
    .col-xs-2 {
        width: 16.66666666%;
    }
    .col-xs-1 {
        width: 8.33333333%;
    }
}








/* use this breakpoint for mobile phone in a medium size, so column classes start with 'col-pm-*' */


/*@media screen and (min-width: 480px) and (max-width: 639px) {*/

@media screen and (max-width: 639px) {
    header,
    footer,
    .page_container {
        width: 480px;
    }

    .col-pm-12 {
        width: 100%;
    }
    .col-pm-11 {
        width: 91.66666666%;
    }
    .col-pm-10 {
        width: 83.33333333%;
    }
    .col-pm-9 {
        width: 75%;
    }
    .col-pm-8 {
        width: 66.66666666%;
    }
    .col-pm-7 {
        width: 58.33333333%;
    }
    .col-pm-6 {
        width: 50%;
    }
    .col-pm-5 {
        width: 41.66666666%;
    }
    .col-pm-4 {
        width: 33.33333333%;
    }
    .col-pm-3 {
        width: 25%;
    }
    .col-pm-2 {
        width: 16.66666666%;
    }
    .col-pm-1 {
        width: 8.33333333%;
    }
}








/* use this breakpoint for mobile phone in a small size, so column classes start with 'col-ps-*' */


/*@media screen and (min-width: 320px) and (max-width: 479px) {*/

@media screen and (max-width: 479px) {
    header,
    footer,
    .page_container {
        width: 320px;
    }

    .col-ps-12 {
        width: 100%;
    }
    .col-ps-11 {
        width: 91.66666666%;
    }
    .col-ps-10 {
        width: 83.33333333%;
    }
    .col-ps-9 {
        width: 75%;
    }
    .col-ps-8 {
        width: 66.66666666%;
    }
    .col-ps-7 {
        width: 58.33333333%;
    }
    .col-ps-6 {
        width: 50%;
    }
    .col-ps-5 {
        width: 41.66666666%;
    }
    .col-ps-4 {
        width: 33.33333333%;
    }
    .col-ps-3 {
        width: 25%;
    }
    .col-ps-2 {
        width: 16.66666666%;
    }
    .col-ps-1 {
        width: 8.33333333%;
    }
}